    
    <div class="row align-items-start">
      <div class="col">
            <div class="row">
                <div class ="form-group col-sm-1">
                     <label><strong> Task </strong> </label>
                </div>
                <div class ="form-group col-sm-3">
                  <input type="text" id="txtTask" Class="form-control"  name="txtTask" [(ngModel)]="txtTask">
                </div>
                <div class ="form-group col-sm-1">
                <label> <strong> Parent Task</strong> </label>
                </div>
                <div class="form-group col-sm-3">
                  <input type="text" id="txtParentTask" Class="form-control"  name="txtParentTask" [(ngModel)]="txtParentTask">
                </div>
            </div>
            <div class="row">
                <div class ="form-group col-sm-1">
                <label> <strong> Prioriy From </strong> </label>
                </div>
                <div class ="form-group col-sm-1">
                  <input type="text" id="txtPrioriyFrom"  name="txtPrioriyFrom" [(ngModel)]="txtPrioriyFrom" class="form-control" >
                </div>
                <div class ="form-group col-sm-1">
                <label><strong>Priority To</strong></label>
                </div>
                <div class ="form-group col-sm-1">
                  <input type="text" id="txtPrioriyTo" name="txtPrioriyTo" [(ngModel)]="txtPrioriyTo" class="form-control" >
                </div>
                <div class ="form-group col-sm-1">
                <label><strong>Start Date</strong> </label>
                </div>
                <div class ="form-group col-sm-2">
                    <input type="date" id="dtStartDate"  name="dtStartDate" [(ngModel)]="dtStartDate"  class="form-control" >
                </div>
                <div class ="form-group col-sm-1">
                <label><strong>End Date</strong></label>
                </div>
                <div class ="form-group col-sm-2">
                    <input type="date" id="dtEndDate"  name="dtEndDate" [(ngModel)]="dtEndDate" class="form-control" >
                </div>
            </div>
  
            <div class="row">
                <div class="row"  *ngIf="showMsg">
                    <div class="col-xs-12">
                          <p class="alert alert-success">
                          <strong>Deleted Successfully!</strong>.
                          </p>
                    </div>
              </div>
            <div class ="form-group col-sm-12">
            <table id=tdMainTasks class="table borderless">
              <tbody>
                  <tr *ngFor = "let task of allTask| viewTaskFilter :txtTask : txtParentTask : txtPrioriyFrom : txtPrioriyTo : dtStartDate : dtEndDate">
                  <table  id=tdAllTasks class="table borderless">
                  <thead>
                      <tr>
                        <th>Task</th>
                        <th></th>
                        <th>Parent</th>
                        <th></th>
                        <th>Priority</th>
                        <th>Start</th>
                        <th>End</th> <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                     <!-- <tr *ngFor = "let task of allTask"></tr> -->
                        <td class ="clslable"><label class="col-sm-5"> {{task.Task}}</label> </td>
                        <td>&nbsp;</td>
                        <td class ="clslable"><label class="col-sm-5"> {{task.ParentTask}}</label> </td>
                        <td>&nbsp;</td>
                        <td><label class="col-sm-2"> {{task.Priority}} </label> </td>
                        <td><label class="col-sm-5"> {{task.StartDate}} </label> </td>
                        <td><label class="col-sm-5"> {{task.EndDate}} </label> </td>
                        <td><button class="btn btn-secondary " id="btnEditTask" [routerLink]="['/UpdateTask',task.TaskID]">Edit</button></td>
                        <td><button class="btn btn-secondary" id="btnEndTask" (click) ="endTask(task.TaskID)">End Task</button></td>
                        <!-- <td><button class="btn btn-secondary" id="btnDeleteTask" (click) ="deleteTask(task.Task_ID)">Delete Task</button></td> -->
                    </tbody>
                  </table>
                </tr>
              </tbody>

            </table>
            </div>
              
            </div>
      </div>
    </div>


  