  <div class="col align-items-start">
  <div class="row"  *ngIf="showMsg">
            <div class="col-xs-12">
                  <p class="alert alert-success">
                  <strong>Saved Successfully!</strong>.
                  </p>
            </div>
      </div>
      <div class="row">
            <div class ="form-group col-sm-1">
                    <label><strong>Task</strong></label> 
             </div>
             <div class ="form-group col-sm-2">
                    <input type="text" class="form-control" [(ngModel)]="task">
            </div>
      </div>

      <div class="row">
                  <div class ="form-group col-sm-1">
                        <label><strong>Priority</strong></label>
                  </div>
                  <div class ="form-group col-sm-2">
                        <input type="range" class="form-control"  [(ngModel)]="priority" name="points" min="0" max="30">
                  </div>
        </div>

       <div class="row">
                        <div class ="form-group col-sm-1">
                               <label><strong>Parent Task</strong></label>
                        </div>

                        <div class ="form-group col-sm-2">
                           <input type="text" class="form-control" [(ngModel)]="parentTask">
                        </div>
         </div>

          <div class="row">
                     <div class ="form-group col-sm-1">
                        <label><strong>Start Date</strong> </label> 
                      </div>
                      <div class ="form-group col-sm-2">
                        <input type="date" class="form-control" [(ngModel)]="startDate">
                      </div>
          </div>
          <div class="row">
                        <div class ="form-group col-sm-1">
                        <label><strong> End Date</strong> </label> 
                        </div>
                        <div class ="form-group col-sm-2">
                        <input type="date" class="form-control" [(ngModel)]="endDate">
                        </div>
          </div>
          
          <div class="row">
                        <div class ="form-group col-sm-1">
                        </div>
                        <div class ="form-group col-sm-2">
                         <button type="Submit"   (click)="onSubmit()" class="btn btn-secondary"> Add Task</button> &nbsp; &nbsp;
                         <button type="button" (click)="resetTaskForm()" class="btn btn-secondary"> Reset</button>
                        </div>
                         
          </div>
  </div>


